# Pandas Hands-on Examples

In [4]:
# Pandas Practical Examples
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# 1. Creating DataFrames
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, np.nan, 22],
    'Score': [85, 90, 95, None]}

In [6]:
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name   Age  Score
0    Alice  25.0   85.0
1      Bob  30.0   90.0
2  Charlie   NaN   95.0
3    David  22.0    NaN

In [7]:
# 2. Handling missing data
print("Missing values:\n", df.isnull())

Missing values:
     Name    Age  Score
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False   True

In [8]:
df_filled = df.fillna({'Age': df['Age'].mean(), 'Score': df['Score'].mean()})
print("Filled DataFrame:\n", df_filled)

Filled DataFrame:
       Name        Age  Score
0    Alice  25.000000   85.0
1      Bob  30.000000   90.0
2  Charlie  25.666667   95.0
3    David  22.000000   90.0

In [9]:
# 3. Filtering and selection
print("Ages > 24:\n", df[df['Age'] > 24])

Ages > 24:
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob  30.0   90.0

In [10]:
# 4. Grouping and aggregation
grouped = df_filled.groupby('Name').agg({'Score': 'mean'})
print("Grouped by name:\n", grouped)

Grouped by name:
          Score
Name
Alice     85.0
Bob       90.0
Charlie   95.0
David     90.0

ðŸ¼ pandas
âœ… What is pandas?
pandas is a data manipulation and analysis library. It provides two core structures:

Series â€“ a one-dimensional labeled array

DataFrame â€“ a two-dimensional labeled data structure (like a spreadsheet)

In [12]:
import pandas as pd

# Creating a Series
s = pd.Series([10, 20, 30, 40], name="Numbers")
print("Series:\n", s)

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90, 85, 88]
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

# Accessing columns
print("\nNames:", df['Name'])

# Descriptive statistics
print("\nStatistics:\n", df.describe())

# Filtering
print("\nAges > 28:\n", df[df['Age'] > 28])

# Adding a new column
df['Passed'] = df['Score'] > 85
print("\nWith New Column:\n", df)

# Reading from CSV (assume file.csv exists)
# df = pd.read_csv('file.csv')

# Writing to CSV
# df.to_csv('new_file.csv', index=False)

Series:
 0    10
1    20
2    30
3    40
Name: Numbers, dtype: int64

DataFrame:
       Name  Age  Score
0    Alice   25     90
1      Bob   30     85
2  Charlie   35     88

Names: 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

Statistics:
         Age      Score
count   3.0   3.000000
mean   30.0  87.666667
std     5.0   2.516611
min    25.0  85.000000
25%    27.5  86.500000
50%    30.0  88.000000
75%    32.5  89.000000
max    35.0  90.000000

Ages > 28:
       Name  Age  Score
1      Bob   30     85
2  Charlie   35     88

With New Column:
       Name  Age  Score  Passed
0    Alice   25     90    True
1      Bob   30     85   False
2  Charlie   35     88    True